@font-face {
    font-family: "Manrope";
    src: url("./assets/fonts/Manrope-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope-eb";
    src: url("./assets/fonts/Manrope-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Steelfish";
    src: url("./assets/fonts/Steelfish-ExtraBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* В конец файла src/index.css */
html, body {
    overflow-x: hidden;
    width: 100%;
    position: relative;
}

#root {
    overflow-x: hidden;
    width: 100%;
}

.app-container {
    padding-left: 100px;
    padding-right: 100px;
}