.logo {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo_image {
    width: 90px;
    height: 90px;
    padding-top: 5px;
}

.logo_text {
    transform: translateX(-40px);
    font-family: "Manrope", sans-serif;
    padding-top: 15px;
    font-size: 35px;
    position: relative;
}